<!DOCTYPE html>
<html>
<body>

<h3 align="center">Shadowverse 引繼碼小幫手</h3>

<style>
body{
  background-color: black;
  color: white;
  font-size: 16px;
}
input.link{
  width: 250px ;
  font-size: 16px;
}
input.link-imgur{
  font-size: 16px;
}
a.splink{
  color: lightblue;
}

.button-imgur{
  background-color: #1bb76e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button-imgur:hover {
  background: #50a144;
  text-decoration: none;
}
.button-copy{
  background-color: #636FFF;
  border: none;
  color: white;
  padding: 2px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.box1 {
  text-align:center;
  display: block;
  width: 800px;
  height: auto;
  margin: 0px auto;
}
.box2 {
  /* background-color : #EEE; */
  background-color : #232323;
  display: block;
  width: 800px;
  height: auto;
  margin: 0px auto;
  border-radius: 4px;
}
.box3 {
  position: relative;
  overflow: auto;
  display: block;
  margin: 0px auto;
  border-radius: 4px;
}

.box3-container{
  position: relative;  
  float:left;
  width: 15px;
  height: 84px;
}

.selected {
  float:left;
  position: absolute;
  top: 36px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #326fd1;
}

.display{
  margin: 20px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2px;
}

.slider.round:before {
  border-radius: 2px;
}

.arrow_box {
  display:none;
  width: auto;
  position: relative;
  background: #a4becf;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(164, 190, 207, 0);
  border-right-color: #a4becf;
  border-width: 8px;
  margin-top: -8px;
} 

.outer{
  height: 60;
  width: auto;
  position: relative;
}
.loader {
  position: absolute;
  top: calc(50% - 24px);
  display: none;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.left {
  float: left;
}
.right{
  margin: 0px 25px;
  float: left;
}
.delete{
  float: right;
  color: #cc0000;
}
</style>


<div class = "box1">
<form action="/deck" id="req_form">
  <input type="text" name="deck_code" placeholder="deck code">
  <input type="submit" value="Submit">
</form>
</div>



<% if(locals.hash){ %>
<% var currentHash = hash%>

  

  <div class = "box2">
  <div class = "box1">
    <img id ="img0" src="https://shadowverse-portal.com/image/<%= hash %>?lang=en">
    <img id ="img1" src="https://shadowverse-portal.com/image/<%= hash %>?lang=ja" style="display: none;">

  </div>

  <div>
  shadowverse portal <a class="splink" href="https://shadowverse-portal.com/deck/<%= hash %>">連結: </a>
  </div>

  <div>
  <input type="text" id="link" class="link" name = "link" value="https://shadowverse-portal.com/deck/<%= hash %>" readonly> 
  <a id="copylink" class="button-copy" onclick="copyToClipboard(link);">複製</a>
  </div>

  <div class="outer">
  <a id="imgurupl" class = "button-imgur" onclick="upload();"><b>Upload to Imgur</b></a>
  <span id ="loader_imgur" class="loader"></span>
  <span id ="span_imgur" class="arrow_box">
    <input type="text" id="link_imgur" class="link-imgur" name = "link-imgur" readonly> 
    <a id="copyimgur" class="button-copy" onclick="copyToClipboard(link_imgur);">複製</a>
  </span>
  </div>

  <div class="outer">
  <a id="gooupl" class = "button-imgur" onclick="shorten();"><b>shorthen using goo.gl</b></a>
  <span id ="loader_goo" class="loader"></span>
  <span id ="span_goo" class="arrow_box">
    <input type="text" id="link_goo" class="link-imgur" name = "link-goo" readonly> 
    <a id="copygoo" class="button-copy" onclick="copyToClipboard(link_goo);">複製</a>
  </span>
  </div>

  <div>
  <label class="switch">
  <input id= "lang_checkbox" type="checkbox" onclick='switchImgLang(this);'>
  <div class="slider round"></div>
  </label>
  </div>
  </div>
<% } %>
<div id="history" class = "box1">
  <input type="button" value="清除紀錄" onclick="clearHistory();">
</div>


<div class = "box1">
中文 
<input type="radio" name="lang" value="zh" id="zh" onclick="submit()" form="req_form" checked>
英文
<input type="radio" name="lang" value="en" id="en" onclick="submit()" form="req_form">
</div>

<script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/js/js.cookie.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
  var myForm = document.forms.req_form;
<% if(locals.deck_code) {%>
  var myControls = myForm.elements['deck_code'];
  myControls.value="<%= deck_code%>";
<% } %>
  var langControl = document.getElementById('<%= lang %>');
  langControl.checked = true;

  handleCookie();

});


function handleCookie(){
  var history_idx = -1, decks;
  console.log(Cookies.get("decks"));
  if(Cookies.get("decks")){
    var decks = JSON.parse(Cookies.get("decks"));
  }
  <% if(locals.history){ %>
    history_idx = <%=history%>;
  <% } else if(locals.hash){%>
    history_idx = 0;
  <% }%>
  console.log(history_idx);
// <% if(locals.hash){ %>
//   var currentHash = "<%=hash%>";
//   var item = { 
//     hash: currentHash,
//     time: (new Date()).toLocaleString()
//   };
//   if(decks && decks.history && decks.history.length){
//     var array = decks.history;
//     var index = -1; //array.indexOf(currentHash);
//     for(var i = 0; i < array.length; ++i){
//       if(array[i].hash == currentHash)
//         index = i;
//     }
//     if(index == -1){
//       array.unshift(item);//
//     }
//     else if(array.length == maxLen){
//       array.splice(maxLen-1,1);
//       array.unshift(item);
//     }
//     decks.history = array;
//     Cookies.set('decks', JSON.stringify(decks), 30);
//   }
//   else{
//     decks = {
//       history: [item]
//     };
//     Cookies.set('decks', JSON.stringify(decks), 30);
//   }

// <% } %>
  console.log(decks);
  if(decks && decks.length){
    for(var i = 0; i < decks.length; ++i){
      var hash = decks[i].hash;
      var divHistory = document.getElementById('history');

      var selected_container = document.createElement('div');
      selected_container.setAttribute('class', 'box3-container');
      if(history_idx == i){
        var selected = document.createElement('div');
        selected.setAttribute('class', 'selected');
        selected_container.appendChild(selected);
      }

      var img = document.createElement('input');
      img.setAttribute('src',"/images/classes/class"+hash[2]+".png");
      img.setAttribute('type',"image");
      img.setAttribute('onclick', 'jumpTo('+i+')');
      img.setAttribute('class', 'left');

      var time = document.createElement('p');
      var date = new Date(decks[i].time);
      time.innerHTML = '建立日期: ' + date.toLocaleString();
      time.setAttribute('class', 'right');

      var input = document.createElement('input');
      input.setAttribute('type', 'text');
      input.setAttribute('id', 'desc'+i);
      input.setAttribute('placeholder', '敘述');
      input.setAttribute('onkeypress', 'enterPress(event,'+i+')');
      //input.setAttribute('class', 'right');
      if(decks[i].desc){
        input.setAttribute('value', decks[i].desc);
      }

      var input_button = document.createElement('input');
      input_button.setAttribute('type', 'button');
      input_button.setAttribute('onclick', 'updateDesc('+i+')');
      input_button.setAttribute('value', '更新敘述')


      var delete_desc = document.createElement('a');
      delete_desc.innerHTML = '刪除';
      delete_desc.setAttribute('href', '');
      delete_desc.setAttribute('class', 'delete');
      delete_desc.setAttribute('onclick', 'deleteDiv('+i+');return false;');


      var div = document.createElement('div');
      div.setAttribute('id', 'history_div'+i);
      div.setAttribute('class', 'box3');
      div.appendChild(selected_container);
      div.appendChild(img);
      div.appendChild(time);
      div.appendChild(input);
      div.appendChild(input_button);
      div.appendChild(delete_desc);


      divHistory.appendChild(div);
    }
  }
}
function clearHistory(){
  Cookies.set('decks', JSON.stringify({}), 30);
  window.location.href = '/deck?lang=<%=lang%>';
}
//jump to ith history
function jumpTo(idx){
  window.location.href = '/deck?lang=<%=lang%>&history='+idx;
}

function deleteDiv(idx){
  if(Cookies.get("decks")){
    var decks = JSON.parse(Cookies.get("decks"));
    decks.splice(idx,1);
    Cookies.set('decks', JSON.stringify(decks), {expires: 30});
  }
  $("#history_div"+idx).fadeOut("slow");
}

function enterPress(e, idx){
  if(e.keyCode == 13){
    updateDesc(idx);
  }
}

function updateDesc(idx){
  var desc = document.getElementById('desc'+idx).value;
  if(Cookies.get("decks")){
    var decks = JSON.parse(Cookies.get("decks"));
    decks[idx]['desc']=desc;
    Cookies.set('decks', JSON.stringify(decks), {expires: 30});
  }
}

function switchImgLang(cb) {
  if(cb.checked){
    document.getElementById("img0").style.display='none';
    document.getElementById("img1").style.display='block';    
  }
  else{
    document.getElementById("img0").style.display='block';
    document.getElementById("img1").style.display='none';    
  }
}

function upload(){
  if(document.getElementById("span_imgur").style.display!='inline'){
    var currentImg = document.getElementById('lang_checkbox').checked ? "img1" : "img0";
    var uploadurl = document.getElementById(currentImg).src;
    document.getElementById("loader_imgur").style.display='inline-block';
    $.post('/imgur', { imageurl: uploadurl}, 
      function(returnedData){
        //console.log(returnedData);
        if(returnedData.success){
          document.getElementById("link_imgur").value = returnedData.data.link;
          document.getElementById("loader_imgur").style.display='none';
          $("#span_imgur").fadeIn("slow");
        }
        else{
          document.getElementById("link_imgur").value  = "發生未知的錯誤";
          document.getElementById("loader_imgur").style.display='none';
          $("#span_imgur").fadeIn("slow");
        }
    }).fail(function(){
        document.getElementById("link_imgur").value  = "發生未知的錯誤";
        document.getElementById("loader_imgur").style.display='none';
        $("#span_imgur").fadeIn("slow");
    });
  }
}

function shorten(){
  if(document.getElementById("span_goo").style.display!='inline'){
    var longurl = document.getElementById('link').value;
    document.getElementById("loader_goo").style.display='inline-block';
    $.post('/goo', { url: longurl}, 
      function(returnedData){
        //console.log(returnedData);
        if(returnedData.id){
          document.getElementById("link_goo").value = returnedData.id;
          document.getElementById("loader_goo").style.display='none';
          $("#span_goo").fadeIn("slow");
        }
        else{
          document.getElementById("link_goo").value  = "發生未知的錯誤";
          document.getElementById("loader_goo").style.display='none';
          $("#span_goo").fadeIn("slow");
        }
    }).fail(function(){
        document.getElementById("link_goo").value  = "發生未知的錯誤";
        document.getElementById("loader_goo").style.display='none';
        $("#span_goo").fadeIn("slow");
    });
  }
}

function copyToClipboard(elem) {
    // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
        target = elem;

    // select the content
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
        succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    
    return succeed;
}
</script>

</body>
</html>
