<!DOCTYPE html>
<html>
<body>

<h3>A demonstration of how to access a SELECT element</h3>

<style>
body{
  background-color:black;
  color:white;
  font-family: Comic Sans MS,arial,helvetica,sans-serif, "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
}
.item {
  display: inline-block;
  width: 200px;
  margin: 1em;
}
.words{ 
  font-size: 12px;
  color: white;
  top:10%;  
  left: 20%;
}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 10em;
}
.display{
  margin: 20px auto;
}

</style>


<form action="/test2" id="req_form">

<div class="cards-search-content">
<fieldset>
<p class="cards-search-label el-label">卡片名稱</p>
<input class="el-input-text" type="text" name="card_name" placeholder="輸入名稱" value="" />
</fieldset>
</div>

<div class="cards-search-input">
<span class="cards-search-label el-label">職業</span>


<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=0 />
<span class="el-label-checkbox">
妖精
</span>
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=1 />
<span class="el-label-checkbox">
皇家
</span>
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=2 />
<span class="el-label-checkbox">
女巫
</span>
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=3 />
<span class="el-label-checkbox">
</span>
龍族
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=4 />
<span class="el-label-checkbox">
</span>
死靈
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=5 />
<span class="el-label-checkbox">
</span>
吸血鬼
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=6 />
<span class="el-label-checkbox">
</span>
主教
</label>

<label class="cards-search-checkbox">
<input type="checkbox" name="class_" value=7 />
<span class="el-label-checkbox">
</span>
中立
</label>

</div>

<div class="cards-search-input">
<span class="cards-search-label el-label">卡包</span>


<label class="cards-search-checkbox">
<input type="checkbox" name="pack" value=0 />
<span class="el-label-checkbox">
基礎包
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="pack" value=1 />
<span class="el-label-checkbox">
標準卡包
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="pack" value=2 />
<span class="el-label-checkbox">
暗黑進化
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="pack" value=3 />
<span class="el-label-checkbox">
巴哈姆特降臨
</span>
</label>
</div>

<div class="cards-search-input">
<span class="cards-search-label el-label">費用</span>

<% for(var i=1; i<=10; i++) { %>
  <label class="cards-search-checkbox">
  <input type="checkbox" name="cost" value=<%= i-1 %> />
  <span class="el-label-checkbox">
  <%= i %>
  </span>
  </label>
<% } %>

</div>

<div class="cards-search-input">
<span class="cards-search-label el-label">種類</span>
<label class="cards-search-checkbox">
<input type="checkbox" name="char_type" value=0 />
<span class="el-label-checkbox">
隨從
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="char_type" value=1 />
<span class="el-label-checkbox">
法術
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="char_type" value=2 />
<span class="el-label-checkbox">
護符
</span>
</label>
</div>

<div class="cards-search-input">
<span class="cards-search-label el-label">稀有度</span>
<label class="cards-search-checkbox">
<input type="checkbox" name="rarity" value=0 />
<span class="el-label-checkbox">
銅卡
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="rarity" value=1 />
<span class="el-label-checkbox">
銀卡
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="rarity" value=2 />
<span class="el-label-checkbox">
金卡
</span>
</label>
<label class="cards-search-checkbox">
<input type="checkbox" name="rarity" value=3 />
<span class="el-label-checkbox">
虹卡
</span>
</label>
</div>

<input type="submit" value="Submit">

</form>

<div class = "display">
<% if(cards.length == 0) {%>
<div class="box2">
  沒有符合的卡片
</div>
<% }else {%>
  <% for(var i = 0; i < cards.length; ++i) {%>
  <% var a = cards[i].name_ch.split("/"); %>
<div class="item">
  
  <a href="/card/<%= cards[i]._id %>"><img src="https://shadowverse-portal.com/image/card/ja/C_<%= cards[i]._id %>.png", width="100%"> </a>
  <div><%= a[0] %></div>

</div>
  <% }%>
<% } %>
</div>


<script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script>
function choice(my_form)
     {
      var str=""
      
      if(my_form.check1.checked)
        str +="選擇了旅遊\n"
      if(my_form.check2.checked)
        str +="選擇了音樂\n"
      if(my_form.check3.checked)
        str +="選擇了美術\n"
      if(my_form.check4.checked)
        str +="選擇了閱讀\n" 
      if(my_form.check5.checked)
        str +="選擇了計算機與網路\n"
      if(str=="")
         str="沒有選擇任何一項" 
      alert(str)           
     }
$(document).ready(function() {
  var myForm = document.forms.req_form;
  var namePanel = myForm.elements['card_name'];
  namePanel.value = "<%= card_name %>";

  var myControls = myForm.elements['class_'];
  <% for(var ele in class_) { %>
    myControls[<%= class_[ele] %>].checked=true;
  <% } %>
  myControls = myForm.elements['pack'];
  <% for(var ele in pack) { %>
    myControls[<%= pack[ele] %>].checked=true;
  <% } %>
  myControls = myForm.elements['cost'];
  <% for(var ele in cost) { %>
    myControls[<%= cost[ele] %>].checked=true;
  <% } %>
  myControls = myForm.elements['char_type'];
  <% for(var ele in char_type) { %>
    myControls[<%= char_type[ele] %>].checked=true;
  <% } %>
  myControls = myForm.elements['rarity'];
  <% for(var ele in rarity) { %>
    myControls[<%= rarity[ele] %>].checked=true;
  <% } %>
});


</script>

</body>
</html>
